* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: cornflowerblue;
}

header {
    padding: 2rem 0;
    font-size: 1.5rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-weight: 900;
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
}

.input input,
.input button {
    font-size: 1rem;
    padding: 0.2rem;
    margin: 1rem;
    border: 2px solid black;
}

.todos ul {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

.todos li {
    list-style: none;
    padding: 1.2rem;
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    border: 2px solid black;
    margin-top: 1rem;
}

.todos li.done {
    text-decoration: line-through;
}

.cross-btn {
    font-size: 1.5rem;
    padding: .5rem;
    border: 2px solid black;
    margin-left: 1rem;
}